<div class="main">
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close id="closeBtn">X</button>
    </div>
    <h1 mat-dialog-title>Login to track your favorite coin easily🚀</h1>
    <div mat-dialog-content>
        <form (submit)='onLogin(loginForm)' #loginForm='ngForm'>
            <label for="Email">Email</label>
            <input type="email" id="email" name="email" placeholder="Email" ngModel #emailInput="ngModel" required email>
            <label for="Password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" ngModel #passwordInput="ngModel" required password>
            <button class='submit' type="submit">Enter</button>
        </form>
    </div>
</div>