<!-- <nav [routerLink]="['']">
    <div class="container">
        <img class='header-icon' src="../../assets/wallet-icon.png" alt="wallet-icon">
        <h1>My Crypto Wallet</h1>
    </div>
    <p [routerLink]="['/portfolio']">Portfolio</p>
</nav> -->
<div class="bar">
    <h2>My Portfolio</h2>
    <button (click)='openForm()'>Add New Coin</button>
</div>

<div class="portfolio-container">
    <div class="box">
        <p>$0.00</p>
        <p>Total Balance</p>
    </div>
    <div class="box">
        <p>$0.00</p>
        <p>Total Profit</p>
    </div>
</div>
